---
import { Icon } from "astro-icon/components";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import SkillCard from "./SkillCard.astro";
import ContactCard from "./ContactCard.astro";
const skills = await Astro.glob("../pages/skills/*.md");
const projects = await Astro.glob("../pages/projects/*.md");
const certificates = await Astro.glob("../pages/certificates/*.md");
const contact = await Astro.glob("../pages/contact/*.md");
const pdf = await Astro.glob("../pages/pdf/*.md");
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"About"} icon={"carbon:user-profile"}>
    <article class="prose text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>

  <AccordionLayout title={"Skills"} icon={"mdi:book-open-variant-outline"}>
    {
      skills.map((item) => {
        return (
          <SkillCard
            title={item.frontmatter.title}
            description={item.compiledContent()}
            url={item.frontmatter.url}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Personal Projects"} icon={"mdi:book-edit-outline"}>
    {
      projects.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Certifications"} icon={"mdi:certificate-outline"}>
    {
      certificates.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View Certificate"}
          />
        );
      })
    }
  </AccordionLayout>


  <AccordionLayout title={"Want my CV ?"} icon={"mdi:card-account-details-outline"}>
    <div class="flex flex-wrap content-around gap-4 justify-center">
      {
        pdf.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
  </AccordionLayout>

  <AccordionLayout title={"Contact"} icon={"mdi:badge-account-horizontal-outline"}>
    <div class="flex flex-wrap content-around gap-4 justify-center">
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
  </AccordionLayout>
</div>
